@page "/"
@attribute [Authorize]
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

@using BlazorAdminApp.Models
@using BlazorAdminApp.Services
@using Microsoft.AspNetCore.Authorization

 @if (AuthenticationService.User != null)
{
    <div class="card mt-4">
        <h5 class="card-header">
            Bienvenido: @AuthenticationService.User.Nombre
        </h5>
    </div>
}
else
{
    NavigationManager.NavigateTo("logout");
}