@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

@using BlazorAdminApp.Services
@using Microsoft.AspNetCore.Components.Routing

<div class="page">
    @if (AuthenticationService.User != null)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        @if (AuthenticationService.User != null)
        {
            <div class="top-row px-4">
                <NavLink href="logout" class="nav-item nav-link">Cerrar Sesión</NavLink>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>